<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminVIP.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminVIPManage.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container"  style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg">
            <p class="title">admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="#"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation" class="active"><a href="/admin/vip/manage"><i class="icon-vip"></i> 会员管理</a></li>
            <li role="presentation"><a href="/admin/account/manage"><i class="icon-account"></i> 账户管理</a></li>
            <li role="presentation"><a href="/admin/coupon/give"><i class="icon-coupons"></i> 优惠券管理</a></li>
            <li role="presentation"><a href="/admin/refund/manage"><i class="icon-refund"></i> 电影票管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="vip-module">
            <div class="content-header">
                <span class="title gray-text">会员管理</span>
            </div>
            <div class="description-container">

            </div>
            <div class="content-card">
                <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#VIPModal"><i class="icon-plus-sign"></i>发布会员</button>
                <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#VIPChangeModal"><i class="icon-pencil"></i>修改会员</button>
            </div>
        </div>
        <div class="coupon-module">
            <span class="title gray-text">优惠券赠送</span>
            <!-- 选择消费额度筛选，选择赠送的优惠券选择-->
            <!-- 会员卡编号，用户名，历史消费总额，是否赠送优惠券（格子，打勾赠送-->
            <div class="card" style="margin:20px 0;padding:20px;">
                <div style="display: flex;justify-content: space-between">
                    <div>
                        <span>选择赠送的优惠券  </span>
                        <select id="hall-select" class="form-control" style="display: inline-block;width: 180px;">
                            <!--查询插入-->
                        </select>
                    </div>
                    <div>
                        <span>选择消费额度  </span>
                        <input type="number" class="form-control" id="vip-history-input" style="display: inline-block;width: 180px;">
                    </div>
                </div>
                <table class="table" id="my-tickets-table" style="margin:0 auto">
                    <thead id="my-tickets-table-head" style="text-align: center">
                    <tr>
                        <th>会员卡编号</th>
                        <th>用户名</th>
                        <th>历史消费总额</th>
                        <th>是否赠送优惠券</th>
                    </tr>
                    </thead>
                    <tbody id="my-tickets-table-body" style="text-align: center">
                    <!-- 此处插入符合条件的会员-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>








<div class="modal fade" id="VIPModal" tabindex="-1" role="dialog" aria-labelledby="VIPModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span> </button>
                <h4 class="modal-title" id="VIPModalLabel">发布会员</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vip-price-input"><span class="error-text">*</span>充值金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="vip-price-input" placeholder="请输入加入会员需充值金额">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vip-gift-input"><span class="error-text">*</span>赠送金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="vip-gift-input" placeholder="请输入赠送金额">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="vip-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="VIPChangeModal" tabindex="-1" role="dialog" aria-labelledby="VIPChangeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span> </button>
                <h4 class="modal-title" id="VIPChangeModalLabel">修改会员</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vip-new-price-input"><span class="error-text">*</span>修改充值金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="vip-new-price-input" placeholder="请输入加入修改的会员需充值金额">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vip-new-gift-input"><span class="error-text">*</span>修改赠送金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="vip-new-gift-input" placeholder="请输入修改的赠送金额">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="vip-change-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>